<div class="container main-container">
  <h1>Lista Produtos</h1>

    <produto-count
    [produtos]="produtos"
    ></produto-count>

  <div 
  class="row text-center"> 
    

    <produto-card-detalhe 
    class="col-md-4"
    style="padding-bottom: 30px;" 
    *ngFor="let item of produtos" 
    [produto]="item" (status)="chegouDadosDoFilho($event)">
    <h5 class="acabou">ou vá em algum de nossa lojas</h5>
    <h5 class="corre">Corre que vai acabar</h5>
    </produto-card-detalhe>



  </div>
</div>
